# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.rsuser

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
*.nupkg
packages/

# Test results
TestResults/

# Coverage
coverage/
*.coverage
*.coveragexml

# Dotnet CLI
*.runtimeconfig.dev.json

# JetBrains
_ReSharper*/
*.DotSettings.user